/*
 * This project was created by Donovan Adrian and any
 * edits or changes must be confirmed as valid by Donovan
 * with written consent under any circumstance.
 */

body {
  background-color: #870b0b;
  transition: 3.5s;
}

.loginContainer {
  position: relative;
  text-align: center;
}

.centeredLogin {
  position: fixed;
  display: block;
  top: 340px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  font-family: Verdana;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.modal-header {
  font-size: 10pt;
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {
  font-size: 12pt;
  padding: 2px 16px;
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

input {
  margin: auto;
  border: none;
  border-radius: 0;
  width: 430px;
  padding: 10px;
  font-size: 16px;
  transition: 0.3s;
}

button {
  padding: 10px;
  width: 450px;
  background: #d9d9d9;
  color: #555;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

@media screen and (min-width: 0px) and (max-width: 600px) {
  .centeredLogin {
    top: 375px;
  }
  input {
    width: 300px;
  }
  button {
    width: 320px;
  }
  img.imgIcon {
    width: 300px;
    height: 300px;
    transition: 0.3s;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1500px) {
  .centeredLogin {
    top: 375px;
  }
  input {
    width: 500px;
  }
  button {
    width: 520px;
  }
  img.imgIcon {
    width: 550px;
    height: 550px;
    transition: 0.3s;
  }
}

@media screen and (min-width: 1500px) and (max-width: 2000px) {
  .centeredLogin {
    top: 475px;
  }
  input {
    width: 700px;
  }
  button {
    width: 720px;
  }
  img.imgIcon {
    width: 750px;
    height: 750px;
    transition: 0.3s;
  }
  input {
    font-size: 25px;
  }
  button {
    font-size: 25px;
  }
  p {
    font-size: 25px;
  }
  a {
    font-size: 25px;
  }
}

@media screen and (min-width: 2000px) {
  .centeredLogin {
    top: 600px;
  }
  input {
    width: 850px;
  }
  button {
    width: 870px;
  }
  img.imgIcon {
    width: 950px;
    height: 950px;
    transition: 0.3s;
  }
  input {
    font-size: 30px;
  }
  button {
    font-size: 30px;
  }
  p {
    font-size: 30px;
  }
  a {
    font-size: 30px;
  }
}
