/*
 * This project was created by Donovan Adrian and any
 * edits or changes must be confirmed as valid by Donovan
 * with written consent under any circumstance.
 */

#fader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  pointer-events: none;
  background: white;
  animation-duration: 300ms;
  -webkit-animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}

@keyframes fade-out {
  from { opacity: 1 }
  to { opacity: 0 }
}

@-webkit-keyframes fade-out {
  from { opacity: 1 }
  to { opacity: 0 }
}

@keyframes fade-in {
  from { opacity: 0 }
  to { opacity: 1 }
}

@-webkit-keyframes fade-in {
  from { opacity: 0 }
  to { opacity: 1 }
}

#fader.fade-out {
  opacity: 0;
  animation-name: fade-out;
  -webkit-animation-name: fade-out;
}

#fader.fade-in {
  opacity: 1;
  animation-name: fade-in;
  -webkit-animation-name: fade-in;
}

body {
  margin: 0;
  transition: 4s;
}

table {
  margin: 0 auto;
}

td.description {
  text-align: right;
  vertical-align: text-top;
  padding-right: 10px;
}

td.inputItem {
  text-align: left;
  vertical-align: bottom;
  padding-top: 10px;
}

div.giftUpdateContainer {
  text-align: center;
}

div.settingsContainer {
  text-align: center;
}

div.faqContainer {
  text-align: center;
}

div.centeredImage {
  text-align: center;
  width: 100%;
  margin: auto;
  position: fixed;
  display: block;
  bottom: 5px;
  z-index: 1;
}

p.faqInf {
  margin: 10px;
  padding-bottom: 10px;
  font-family: Verdana;
  text-decoration: underline;
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
}

p.faqInfSpec {
  margin: 10px;
  font-size: 15px;
  padding-bottom: 10px;
  font-family: Verdana;
  text-align: left;
  padding-left: 2%;
  padding-right: 2%;
}

p.giftInfLarge {
  margin: 0;
  padding-left: 5px;
  padding-top: 10px;
  font-family: Verdana;
  font-weight: bold;
}

p.giftInf {
  margin: 0;
  padding-left: 5px;
  padding-top: 10px;
  font-family: Verdana;
}

p.giftInfBold {
  margin: 0;
  padding-left: 5px;
  padding-top: 10px;
  font-family: Verdana;
  font-weight: bold;
}

p.giftInfSmall {
  margin: 0;
  padding-left: 5px;
  padding-top: 10px;
  font-family: Verdana;
  font-style: italic;
}

input.giftInp {
  margin: 0;
  padding-left: 10px;
}

textarea.giftInp {
  font-family: Verdana;
  padding-left: 10px;
  margin-left: 3px;
  border-color: #d9d9d9;
  border-radius: 4px;
  resize: none;
}

span {
  display: inline-block;
}

span.basicBtn {
  border-radius: 4px;
  font-weight: bold;
  position: relative;
  background: #ff8e8e;
  color: #FFF;
  transition: 0.3s;
}

span.basicBtn:hover {
  border-radius: 12px;
  background-color: #ff4c4c;
  color: #000;
}

span.basicBtnRight {
  border-radius: 4px;
  font-weight: bold;
  position: relative;
  background: #ff8e8e;
  float: right;
  color: #FFF;
  transition: 0.3s;
}

span.basicBtnRight:hover {
  border-radius: 12px;
  background-color: #ff4c4c;
  color: #000;
}

span.dropdown {
  border-radius: 4px;
  color: black;
  font-family: Verdana;
  display: none;
  position: relative;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 4;
}

span.dropdown:hover {
  border-radius: 12px;
  background-color: #ddd;
}

span.boughtBtn {
  border-radius: 4px;
  font-weight: bold;
  position: fixed;
  font-family: Verdana;
  background: #ff8e8e;
  color: #FFF;
  transition: 0.3s;
  z-index: 2;
}

span.boughtBtn:hover {
  border-radius: 12px;
  background-color: #ff4c4c;
  color: #000;
}

span.boughtBtnB {
  display: none;
  border-radius: 4px;
  font-weight: bold;
  position: fixed;
  font-family: Verdana;
  text-align: left;
  background: #ff8e8e;
  color: #FFF;
  transition: 0.3s;
  z-index: 2;
}

span.boughtBtnB:hover {
  border-radius: 12px;
  background-color: #ff4c4c;
  color: #000;
}

span.addBtnGeneric {
  border-radius: 4px;
  font-weight: bold;
  position: relative;
  font-family: Verdana;
  text-align: right;
  background: #ff8e8e;
  color: #FFF;
  transition: 0.3s;
  z-index: 2;
}

span.addBtn {
  border-radius: 4px;
  font-weight: bold;
  position: fixed;
  font-family: Verdana;
  text-align: right;
  background: #ff8e8e;
  color: #FFF;
  transition: 0.3s;
  z-index: 2;
}

span.addBtn:hover {
  border-radius: 12px;
  background-color: #ff4c4c;
  color: #000;
}

span.addBtnB {
  border-radius: 4px;
  font-weight: bold;
  position: fixed;
  font-family: Verdana;
  text-align: right;
  background: #ff8e8e;
  color: #FFF;
  transition: 0.3s;
  z-index: 2;
}

span.addBtnB:hover {
  border-radius: 12px;
  background-color: #ff4c4c;
  color: #000;
}

span.settingsBtn {
  border-radius: 4px;
  font-weight: bold;
  font-family: Verdana;
  background: #ff8e8e;
  color: #FFF;
  transition: 0.3s;
  z-index: 2;
}

span.settingsBtn:hover {
  border-radius: 12px;
  background-color: #ff4c4c;
  color: #000;
}

span.faqBtn {
  border-radius: 4px;
  font-weight: bold;
  margin: 50px;
  font-family: Verdana;
  background: #ff8e8e;
  color: #FFF;
  transition: 0.3s;
  z-index: 2;
}

span.faqBtn:hover {
  border-radius: 12px;
  background-color: #ff4c4c;
  color: #000;
}

span.modBtn {
  border-radius: 4px;
  font-weight: bold;
  display: none;
  position: fixed;
  font-family: Verdana;
  background: #ff8e8e;
  color: #FFF;
  transition: 0.3s;
  z-index: 2;
}

span.modBtn:hover {
  border-radius: 12px;
  background-color: #ff4c4c;
  color: #000;
}

span.familyBtn {
  border-radius: 4px;
  font-weight: bold;
  display: none;
  position: fixed;
  font-family: Verdana;
  background: #ff8e8e;
  color: #FFF;
  transition: 0.3s;
  z-index: 2;
}

span.familyBtn:hover {
  border-radius: 12px;
  background-color: #ff4c4c;
  color: #000;
}

img.genericImageWide {
  position: relative;
  z-index: 2;
}

img.leftCornerImgHidden {
  position: fixed;
  left: 10px;
  bottom: 10px;
  display: none;
  transition: 0.3s;
  z-index: 2;
}

img.leftCornerImg {
  position: fixed;
  left: 10px;
  bottom: 10px;
  transition: 0.3s;
  z-index: 2;
}

span.updateBtn {
  border-radius: 4px;
  font-weight: bold;
  font-family: Verdana;
  background: #b0d4b0;
  color: #555;
  transition: 0.3s;
}

span.updateBtn:hover {
  border-radius: 12px;
  background-color: #00d639;
  color: #000;
}

span.giftBackBtn {
  border-radius: 4px;
  font-weight: bold;
  font-family: Verdana;
  background: #d4b0b0;
  color: #555;
  transition: 0.3s;
}

span.giftBackBtn:hover {
  border-radius: 12px;
  background-color: #ff4c4c;
  color: #000;
}

span.btnDisabled {
  border-radius: 4px;
  background: #c4c4c4;
}

span.btnDisabled:hover {
  border-radius: 12px;
  background: #c48686;
}

img.imgIcon {
  display: block;
  padding: 0px;
  width: 300px;
  height: 300px;
  margin: -75px auto -175px auto;
}

div.topnav {
  background-color: #870b0b;
}

div.topnav ul{
  font-family: Verdana;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

div.topnav ul li a {
  border-radius: 4px;
  font-weight: bold;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  transition: 0.6s;
}

div.topnav ul li a:hover:not(.active) {
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.4);
  color: black;
}

div.topnav ul li a.active {
  border-radius: 8px;
  background-color: rgba(200, 200, 200, 0.5);
  color: white;
}

div.topnav ul li a:hover.active {
  border-radius: 12px;
  background-color: rgba(225, 225, 225, 0.6);
  color: black;
}

div.topnav ul li a.signOut {
  border-radius: 4px;
  background-color: rgba(255, 57, 35, 0.8);
}

div.topnav ul li a.signOut:hover:not(.active) {
  border-radius: 12px;
  background-color: #ff3923;
}

div.topnav ul li.right,
div.topnav ul li{
  float: left;
  padding-top: 0px;
  padding-bottom: 0px;
}

ul.giftList {
  margin: 0;
  padding: 0;
}

ul li.gift {
  position: relative;
  font-family: Verdana;
  list-style-type: none;
  background: #eee;
  transition: 0.4s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd).gift {
  background: #f9f9f9;
}

ul li:hover.gift {
  background: #ddd;
}

ul li.spacer {
  position: relative;
  font-family: Verdana;
  list-style-type: none;
  background: #ffffff;
  transition: 0.4s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li.multiCheck {
  color: #429ef5;
  text-decoration: line-through;
}

ul li.multiCheck::before {
  content: "";
  position: absolute;
  border-color: #429ef5;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

ul li.checked {
  color: #f00;
  text-decoration: line-through;
}

ul li.checked::before {
  content: "";
  position: absolute;
  border-color: #f00;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

ul li.highSev {
  color: #eb3434
}

ul li.mediumSev {
  color: #ebcc34
}

ul li.lowSev {
  color: #00d118;
}

ul li.santa {
  color: #00d118;
}

ul li.santa::before {
  content: "";
  position: absolute;
  border-color: #00d118;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.notificationIcon {
  transition-duration: 1s;
}

.infoIcon {
  vertical-align: -2px;
  transition-duration: 1s;
}

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  padding-top: 50px;
  padding-bottom: 2000px;
  left: 0;
  top: 0;
  width: 100%;
  height: 75%;
  overflow: auto;
  box-shadow: 0 -25px 100px 100px rgba(255,255,255,0.35), 0 -25px 200px 200px rgba(255,255,255,0.4) inset;
}

.modal-content {
  border-radius: 14px;
  font-family: Verdana;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0px 30px 30px 10px rgba(0,0,0,0.4);
}

.modal-content-open {
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.modal-content-close {
  -webkit-animation-name: animateclose;
  -webkit-animation-duration: 900ms;
  -webkit-transition-property: animateclose;
  -webkit-transition-duration: 900ms;
  animation-name: animateclose;
  animation-duration: 800ms;
}

@-webkit-keyframes animateclose {
  0% {top:0; opacity:1}
  100% {top:-100%; opacity:0}
}

@keyframes animateclose {
  0% {top:0; opacity:1}
  100% {top:-100%; opacity:0}
}

.modal-header {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: #5cb85c;
  color: white;
}

.modal-footer-left {
  float: left;
  padding-right: 10px;
  padding-left: 10px;
  transition: 0.4s;
}

.modal-footer-left:hover {
  color: black;
}

.modal-footer-right-override:hover {
  color:red;
}

.modal-footer-right {
  float: right;
  padding-right: 10px;
  padding-left: 10px;
  transition: 0.4s;
}

.modal-footer-right:hover {
  color:black;
}

.modal-footer-right-override:hover {
  color:red;
}

.closeInvert {
  color: black;
  float: left;
  margin: 0;
  font-size: 28px;
  font-weight: bold;
  transition: 0.4s;
}

.closeInvert:hover,
.closeInvert:focus {
  color: #555555;
  rotate: 90deg;
  text-decoration: none;
}

.close {
  color: white;
  float: right;
  padding: 10px 5px;
  font-size: 28px;
  font-weight: bold;
  transition: 0.4s;
}

.close:hover,
.close:focus {
  color: #000;
  rotate: 90deg;
  text-decoration: none;
}

@media screen and (min-width: 0px) and (max-width: 425px) {
  span.boughtBtn {
    left: 5px;
    bottom: 5px;
    padding: 5px;
    font-size: 13px;
  }

  span.boughtBtnB {
    left: 5px;
    bottom: 80px;
    padding: 5px;
    font-size: 13px;
  }

  span.addBtnGeneric {
    left: 5px;
    bottom: 5px;
    padding: 5px;
    font-size: 13px;
  }

  span.addBtn {
    right: 5px;
    bottom: 5px;
    padding: 5px;
    font-size: 13px;
  }

  span.addBtnB {
    right: 5px;
    bottom: 80px;
    padding: 5px;
    font-size: 13px;
  }

  span.basicBtn {
    line-height: 25px;
    padding: 5px;
    font-size: 13px;
  }

  span.basicBtnRight {
    line-height: 25px;
    padding: 5px;
    font-size: 13px;
  }

  span.dropdown {
    padding: 5px;
    font-size: 13px;
  }

  span.settingsBtn {
    padding: 5px;
    font-size: 13px;
  }

  span.faqBtn {
    padding: 5px;
    font-size: 13px;
  }

  span.modBtn {
    right: 5px;
    bottom: 5px;
    padding: 5px;
    font-size: 13px;
  }

  span.familyBtn {
    left: 5px;
    bottom: 5px;
    padding: 5px;
    font-size: 13px;
  }

  span.updateBtn {
    padding: 5px;
    font-size: 13px;
  }

  span.giftBackBtn {
    padding: 5px;
    font-size: 13px;
  }

  p.giftInfLarge {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }

  p.giftInfSmall {
    font-size: 10px;
  }

  input.checkBox {
    width: 15px;
    height: 15px;
  }

  input.giftInp {
    width: 200px;
    font-size: 13px;
  }

  textarea.giftInp {
    width: 150px;
    font-size: 13px;
  }

  div.cropIcon {
    overflow: hidden;
    max-width: 600px;
  }

  img.noteExtraBuffer {
    padding-bottom: 45px;
  }

  img.noteBasicBuffer {
    padding-bottom: 30px;
  }

  img.notificationIcon {
    width: 20px;
    height: 20px;
  }

  img.infoIcon {
    width: 15px;
    height: 15px;
  }

  img.genericImageWide {
    width: 30px;
    height: 20px;
  }

  img.leftCornerImgHidden {
    width: 30px;
    height: 30px;
  }

  img.leftCornerImg {
    width: 30px;
    height: 30px;
  }

  div.topnav ul li.right,
  div.topnav ul li {
    float: none;
    padding: 0;
  }

  div.topnav ul li a {
    font-size: 13px;
    padding: 5px;
  }

  .close {
    font-size: 22px;
  }

  .closeInvert {
    padding: 10px 10px;
    font-size: 20px;
  }

  .modal-header {
    font-size: 11px;
  }

  .modal-body {
    font-size: 13px;
  }

  .modal-footer {
    padding-bottom: 50px;
    font-size: 10px;
  }

  ul li.gift {
    padding: 10px 6px 10px 30px;
    font-size: 13px;
  }

  ul li.spacer {
    padding: 25px 6px 25px 30px;
    font-size: 13px;
  }
}

@media screen and (min-width: 425px) and (max-width: 650px) {
  span.boughtBtn {
    left: 5px;
    bottom: 5px;
    padding: 5px;
    font-size: 13px;
  }

  span.boughtBtnB {
    left: 5px;
    bottom: 50px;
    padding: 5px;
    font-size: 13px;
  }

  span.addBtnGeneric {
    left: 5px;
    bottom: 5px;
    padding: 5px;
    font-size: 13px;
  }

  span.addBtn {
    right: 5px;
    bottom: 5px;
    padding: 5px;
    font-size: 13px;
  }

  span.addBtnB {
    right: 5px;
    bottom: 50px;
    padding: 5px;
    font-size: 13px;
  }

  span.basicBtn {
    padding: 5px;
    font-size: 13px;
  }

  span.basicBtnRight {
    padding: 5px;
    font-size: 13px;
  }

  span.dropdown {
    padding: 5px;
    font-size: 13px;
  }

  span.settingsBtn {
    padding: 5px;
    font-size: 13px;
  }

  span.faqBtn {
    padding: 5px;
    font-size: 13px;
  }

  span.modBtn {
    right: 5px;
    bottom: 5px;
    padding: 5px;
    font-size: 13px;
  }

  span.familyBtn {
    left: 5px;
    bottom: 5px;
    padding: 5px;
    font-size: 13px;
  }

  span.updateBtn {
    padding: 5px;
    font-size: 13px;
  }

  span.giftBackBtn {
    padding: 5px;
    font-size: 13px;
  }

  p.giftInfLarge {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }

  p.giftInfSmall {
    font-size: 10px;
  }

  input.checkBox {
    width: 15px;
    height: 15px;
  }

  input.giftInp {
    width: 200px;
    font-size: 13px;
  }

  textarea.giftInp {
    width: 200px;
    font-size: 13px;
  }

  div.cropIcon {
    overflow: hidden;
    max-width: 600px;
  }

  img.notificationIcon {
    width: 20px;
    height: 20px;
  }

  img.infoIcon {
    width: 15px;
    height: 15px;
  }

  img.genericImageWide {
    width: 30px;
    height: 20px;
  }

  img.leftCornerImgHidden {
    width: 30px;
    height: 30px;
  }

  img.leftCornerImg {
    width: 30px;
    height: 30px;
  }

  div.topnav ul li.right,
  div.topnav ul li {
    float: none;
    padding: 0;
  }

  div.topnav ul li a {
    font-size: 13px;
    padding: 5px;
  }

  .close {
    font-size: 22px;
  }

  .closeInvert {
    padding: 10px 10px;
    font-size: 20px;
  }

  .modal-header {
    font-size: 11px;
  }

  .modal-body {
    font-size: 13px;
  }

  .modal-footer {
    padding-bottom: 45px;
    font-size: 12px;
  }

  ul li.gift {
    padding: 10px 6px 10px 30px;
    font-size: 13px;
  }

  ul li.spacer {
    padding: 35px 6px 25px 30px;
    font-size: 13px;
  }
}

@media screen and (min-width: 650px) and (max-width: 1000px) {
  span.basicBtn {
    padding: 7px;
    font-size: 15px;
  }

  span.basicBtnRight {
    padding: 7px;
    font-size: 15px;
  }

  span.dropdown {
    padding: 7px;
    font-size: 15px;
  }

  span.settingsBtn {
    padding: 7px;
    font-size: 15px;
  }

  span.faqBtn {
    padding: 7px;
    font-size: 15px;
  }

  span.modBtn {
    right: 7px;
    bottom: 7px;
    padding: 7px;
    font-size: 15px;
  }

  span.familyBtn {
    left: 7px;
    bottom: 7px;
    padding: 7px;
    font-size: 15px;
  }

  span.boughtBtn {
    left: 7px;
    bottom: 7px;
    padding: 7px;
    font-size: 15px;
  }

  span.boughtBtnB {
    left: 7px;
    bottom: 60px;
    padding: 7px;
    font-size: 15px;
  }

  span.addBtnGeneric {
    left: 7px;
    bottom: 7px;
    padding: 7px;
    font-size: 15px;
  }

  span.addBtn {
    right: 7px;
    bottom: 7px;
    padding: 7px;
    font-size: 15px;
  }

  span.addBtnB {
    right: 7px;
    bottom: 60px;
    padding: 7px;
    font-size: 15px;
  }

  span.updateBtn {
    padding: 7px;
    font-size: 15px;
  }

  span.giftBackBtn {
    padding: 7px;
    font-size: 15px;
  }

  input.checkBox {
    width: 15px;
    height: 15px;
  }

  input.giftInp {
    width: 300px;
    font-size: 15px;
  }

  textarea.giftInp {
    width: 300px;
    font-size: 15px;
  }

  div.cropIcon {
    overflow: hidden;
    max-width: 600px;
  }

  p.giftInfLarge {
    font-size: 19px;
  }

  p {
    font-size: 15px;
  }

  p.giftInfSmall {
    font-size: 11px;
  }

  img.notificationIcon {
    width: 30px;
    height: 30px;
  }

  img.infoIcon {
    width: 15px;
    height: 15px;
  }

  img.genericImageWide {
    width: 40px;
    height: 30px;
  }

  img.leftCornerImgHidden {
    width: 40px;
    height: 40px;
  }

  img.leftCornerImg {
    width: 40px;
    height: 40px;
  }

  .break{
    clear: both;
  }

  .close {
    font-size: 24px;
  }

  .closeInvert {
    padding: 11px 10px;
    font-size: 22px;
  }

  .modal-header {
    font-size: 12px;
  }

  .modal-body {
    font-size: 10px;
  }

  .modal-footer {
    padding-bottom: 55px;
    font-size: 13px;
  }

  div.topnav ul li.right,
  div.topnav ul li {
    font-size: 10px;
    padding: 0px;
  }

  div.topnav ul li a {
    width: 90px;
    font-size: 14px;
    padding: 14px 16px;
  }

  ul li.gift {
    padding: 10px 6px 10px 30px;
    font-size: 15px;
  }

  ul li.spacer {
    padding: 45px 6px 25px 30px;
    font-size: 15px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1500px) {
  span.basicBtn {
    padding: 9px;
    font-size: 17px;
  }

  span.basicBtnRight {
    padding: 9px;
    font-size: 17px;
  }

  span.dropdown {
    padding: 9px;
    font-size: 17px;
  }

  span.settingsBtn {
    padding: 9px;
    font-size: 17px;
  }

  span.faqBtn {
    padding: 9px;
    font-size: 17px;
  }

  span.modBtn {
    right: 9px;
    bottom: 9px;
    padding: 9px;
    font-size: 17px;
  }

  span.familyBtn {
    left: 9px;
    bottom: 9px;
    padding: 9px;
    font-size: 17px;
  }

  span.boughtBtn {
    left: 9px;
    bottom: 9px;
    padding: 9px;
    font-size: 17px;
  }

  span.boughtBtnB {
    left: 9px;
    bottom: 70px;
    padding: 9px;
    font-size: 17px;
  }

  span.addBtnGeneric {
    left: 10px;
    bottom: 10px;
    padding: 9px;
    font-size: 17px;
  }

  span.addBtn {
    right: 9px;
    bottom: 9px;
    padding: 9px;
    font-size: 17px;
  }

  span.addBtnB {
    right: 9px;
    bottom: 70px;
    padding: 9px;
    font-size: 17px;
  }

  span.updateBtn {
    padding: 9px;
    font-size: 17px;
  }

  span.giftBackBtn {
    padding: 9px;
    font-size: 17px;
  }

  input.checkBox {
    width: 17px;
    height: 17px;
  }

  input.giftInp {
    width: 550px;
    font-size: 17px;
  }

  textarea.giftInp {
    width: 550px;
    font-size: 17px;
  }

  p.giftInfLarge {
    font-size: 22px;
  }

  p {
    font-size: 17px;
  }

  p.giftInfSmall {
    font-size: 12px;
  }

  img.notificationIcon {
    width: 40px;
    height: 40px;
  }

  img.infoIcon {
    width: 17px;
    height: 17px;
  }

  img.genericImageWide {
    width: 50px;
    height: 36px;
  }

  img.leftCornerImgHidden {
    width: 50px;
    height: 50px;
  }

  img.leftCornerImg {
    width: 50px;
    height: 50px;
  }

  .close {
    font-size: 28px;
  }

  .closeInvert {
    padding: 12px 10px;
    font-size: 24px;
  }

  .modal-header {
    font-size: 14px;
  }

  .modal-body {
    font-size: 12px;
  }

  .modal-footer {
    padding-bottom: 60px;
    font-size: 15px;
  }

  div.topnav ul li.right,
  div.topnav ul li {
    font-size: 12px;
    padding: 0px;
  }

  div.topnav ul li a {
    width: 100px;
    font-size: 16px;
    padding: 15.5px 16px;
  }

  ul li.gift {
    padding: 12px 8px 12px 40px;
    font-size: 17px;
  }

  ul li.spacer {
    padding: 55px 8px 30px 40px;
    font-size: 17px;
  }
}

@media screen and (min-width: 1500px) and (max-width: 2000px) {
  span.basicBtn {
    padding: 11px;
    font-size: 21px;
  }

  span.basicBtnRight {
    padding: 11px;
    font-size: 21px;
  }

  span.dropdown {
    padding: 11px;
    font-size: 21px;
  }

  span.settingsBtn {
    padding: 11px;
    font-size: 21px;
  }

  span.faqBtn {
    padding: 11px;
    font-size: 21px;
  }

  span.modBtn {
    right: 11px;
    bottom: 11px;
    padding: 11px;
    font-size: 21px;
  }

  span.familyBtn {
    left: 11px;
    bottom: 11px;
    padding: 11px;
    font-size: 21px;
  }

  span.boughtBtn {
    left: 11px;
    bottom: 11px;
    padding: 11px;
    font-size: 21px;
  }

  span.boughtBtnB {
    right: 11px;
    bottom: 80px;
    padding: 11px;
    font-size: 21px;
  }

  span.addBtnGeneric {
    left: 11px;
    bottom: 11px;
    padding: 11px;
    font-size: 21px;
  }

  span.addBtn {
    right: 11px;
    bottom: 11px;
    padding: 11px;
    font-size: 21px;
  }

  span.addBtnB {
    right: 11px;
    bottom: 80px;
    padding: 11px;
    font-size: 21px;
  }

  span.updateBtn {
    padding: 11px;
    font-size: 21px;
  }

  span.giftBackBtn {
    padding: 11px;
    font-size: 21px;
  }

  input.checkBox {
    width: 19px;
    height: 19px;
  }

  input.giftInp {
    width: 700px;
    font-size: 21px;
  }

  textarea.giftInp {
    width: 700px;
    font-size: 21px;
  }

  p.giftInfLarge {
    font-size: 27px;
  }

  p {
    font-size: 21px;
  }

  p.giftInfSmall {
    font-size: 15px;
  }

  img.imgIcon {
    display: block;
    padding: 0px;
    width: 305px;
    height: 305px;
    margin: -75px auto -175px auto;
  }

  img.notificationIcon {
    width: 50px;
    height: 50px;
  }

  img.infoIcon {
    width: 19px;
    height: 19px;
  }

  img.genericImageWide {
    width: 65px;
    height: 47px;
  }

  img.leftCornerImgHidden {
    width: 65px;
    height: 65px;
  }

  img.leftCornerImg {
    width: 65px;
    height: 65px;
  }

  .close {
    font-size: 36px;
  }

  .closeInvert {
    padding: 13px 10px;
    font-size: 30px;
  }

  .modal-header {
    font-size: 18px;
  }

  .modal-body {
    font-size: 16px;
  }

  .modal-footer {
    padding-bottom: 65px;
    font-size: 19px;
  }

  div.topnav ul li.right,
  div.topnav ul li {
    font-size: 18px;
    padding: 0px;
  }

  div.topnav ul li a {
    width: 125px;
    font-size: 20px;
    padding: 15.5px 16px;
  }

  ul li.gift {
    padding: 12px 8px 12px 40px;
    font-size: 22px;
  }

  ul li.spacer {
    padding: 65px 8px 35px 40px;
    font-size: 22px;
  }
}

@media screen and (min-width: 2000px) and (max-width: 2700px) {
  span.basicBtn {
    padding: 13px;
    font-size: 23px;
  }

  span.basicBtnRight {
    padding: 13px;
    font-size: 23px;
  }

  span.dropdown {
    padding: 13px;
    font-size: 23px;
  }

  span.settingsBtn {
    padding: 13px;
    font-size: 23px;
  }

  span.faqBtn {
    padding: 13px;
    font-size: 23px;
  }

  span.modBtn {
    right: 13px;
    bottom: 13px;
    padding: 13px;
    font-size: 23px;
  }

  span.familyBtn {
    left: 13px;
    bottom: 13px;
    padding: 13px;
    font-size: 23px;
  }

  span.boughtBtn {
    left: 13px;
    bottom: 13px;
    padding: 13px;
    font-size: 23px;
  }

  span.boughtBtnB {
    left: 13px;
    bottom: 85px;
    padding: 13px;
    font-size: 23px;
  }

  span.addBtnGeneric {
    left: 13px;
    bottom: 13px;
    padding: 13px;
    font-size: 23px;
  }

  span.addBtn {
    right: 13px;
    bottom: 13px;
    padding: 13px;
    font-size: 23px;
  }

  span.addBtnB {
    right: 13px;
    bottom: 85px;
    padding: 13px;
    font-size: 23px;
  }

  span.updateBtn {
    padding: 13px;
    font-size: 23px;
  }

  span.giftBackBtn {
    padding: 13px;
    font-size: 23px;
  }

  input.checkBox {
    width: 20px;
    height: 20px;
  }

  input.giftInp {
    width: 1200px;
    font-size: 23px;
  }

  textarea.giftInp {
    width: 1200px;
    font-size: 23px;
  }

  p.giftInfLarge {
    font-size: 29px;
  }

  p {
    font-size: 23px;
  }

  p.giftInfSmall {
    font-size: 17px;
  }

  img.imgIcon {
    display: block;
    padding: 0px;
    width: 311px;
    height: 311px;
    margin: -75px auto -175px auto;
  }

  img.notificationIcon {
    width: 55px;
    height: 55px;
  }

  img.infoIcon {
    width: 20px;
    height: 20px;
  }

  img.genericImageWide {
    width: 75px;
    height: 55px;
  }

  img.leftCornerImgHidden {
    width: 75px;
    height: 75px;
  }

  img.leftCornerImg {
    width: 75px;
    height: 75px;
  }

  .close {
    font-size: 40px;
  }

  .closeInvert {
    padding: 14px 10px;
    font-size: 34px;
  }

  .modal-header {
    font-size: 20px;
  }

  .modal-body {
    font-size: 18px;
  }

  .modal-footer {
    padding-bottom: 70px;
    font-size: 21px;
  }

  div.topnav ul li.right,
  div.topnav ul li {
    font-size: 20px;
    padding: 0px;
  }

  div.topnav ul li a {
    width: 145px;
    font-size: 22px;
    padding: 17px 17px;
  }

  ul li.gift {
    padding: 12px 8px 12px 40px;
    font-size: 24px;
  }

  ul li.spacer {
    padding: 75px 8px 40px 40px;
    font-size: 24px;
  }
}

@media screen and (min-width: 2700px) {
  span.basicBtn {
    padding: 13px;
    font-size: 26px;
  }

  span.basicBtnRight {
    padding: 13px;
    font-size: 26px;
  }

  span.dropdown {
    padding: 13px;
    font-size: 26px;
  }

  span.settingsBtn {
    padding: 13px;
    font-size: 26px;
  }

  span.faqBtn {
    padding: 13px;
    font-size: 26px;
  }

  span.modBtn {
    right: 13px;
    bottom: 13px;
    padding: 13px;
    font-size: 26px;
  }

  span.familyBtn {
    left: 13px;
    bottom: 13px;
    padding: 13px;
    font-size: 26px;
  }

  span.boughtBtn {
    left: 13px;
    bottom: 13px;
    padding: 13px;
    font-size: 26px;
  }

  span.boughtBtnB {
    left: 13px;
    bottom: 90px;
    padding: 13px;
    font-size: 26px;
  }

  span.addBtnGeneric {
    left: 13px;
    bottom: 13px;
    padding: 13px;
    font-size: 26px;
  }

  span.addBtn {
    right: 13px;
    bottom: 13px;
    padding: 13px;
    font-size: 26px;
  }

  span.addBtnB {
    right: 13px;
    bottom: 90px;
    padding: 13px;
    font-size: 26px;
  }

  span.updateBtn {
    padding: 13px;
    font-size: 26px;
  }

  span.giftBackBtn {
    padding: 13px;
    font-size: 26px;
  }

  input.checkBox {
    width: 22px;
    height: 22px;
  }

  input.giftInp {
    width: 1200px;
    font-size: 26px;
  }

  textarea.giftInp {
    width: 1200px;
    font-size: 26px;
  }

  p.giftInfLarge {
    font-size: 33px;
  }

  p {
    font-size: 26px;
  }

  p.giftInfSmall {
    font-size: 19px;
  }

  img.imgIcon {
    display: block;
    padding: 0px;
    width: 311px;
    height: 311px;
    margin: -75px auto -175px auto;
  }

  img.notificationIcon {
    width: 60px;
    height: 60px;
  }

  img.infoIcon {
    width: 22px;
    height: 22px;
  }

  img.genericImageWide {
    width: 80px;
    height: 58px;
  }

  img.leftCornerImgHidden {
    width: 80px;
    height: 80px;
  }

  img.leftCornerImg {
    width: 80px;
    height: 80px;
  }

  .close {
    font-size: 46px;
  }

  .closeInvert {
    padding: 15px 10px;
    font-size: 40px;
  }

  .modal-header {
    font-size: 23px;
  }

  .modal-body {
    font-size: 21px;
  }

  .modal-footer {
    padding-bottom: 80px;
    font-size: 24px;
  }

  div.topnav ul li.right,
  div.topnav ul li {
    font-size: 23px;
    padding: 0px;
  }

  div.topnav ul li a {
    width: 170px;
    font-size: 25px;
    padding: 15.5px 16px;
  }

  ul li.gift {
    padding: 12px 8px 12px 40px;
    font-size: 27px;
  }

  ul li.spacer {
    padding: 85px 8px 40px 40px;
    font-size: 27px;
  }
}
