/*
 * This project was created by Donovan Adrian and any
 * edits or changes must be confirmed as valid by Donovan
 * with written consent under any circumstance.
 */

body {margin: 0;}

div.giftUpdateContainer {
  text-align: center;
}

div.settingsContainer {
  text-align: center;
}

div.faqContainer {
  text-align: center;
}

div.centeredImage {
  position: fixed;
  display: block;
  bottom: 5px;
  left: 50%;
}

p.faqInf {
  margin: 10px;
  padding-bottom: 10px;
  font-family: Verdana;
  text-decoration: underline;
}

p.faqInfSpec {
  margin: 10px;
  font-size: 15px;
  padding-bottom: 10px;
  font-family: Verdana;
}

p.giftInf {
  margin: 0;
  padding-left: 5px;
  padding-top: 10px;
  font-family: Verdana;
}

input.giftInp {
  margin: 0;
  padding-left: 10px;
}

span.basicBtn {
  position: relative;
  font-family: Verdana;
  background: #ff8e8e;
  color: #FFF;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

span.basicBtn:hover {
  background-color: #ff4c4c;
  color: #000;
}

span.btnDisabled {
  background: #c4c4c4;
}

span.btnDisabled:hover {
  background: #c48686;
}

span.boughtBtn {
  position: fixed;
  font-family: Verdana;
  background: #ff8e8e;
  color: #FFF;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

span.boughtBtn:hover {
  background-color: #ff4c4c;
  color: #000;
}

span.addBtn {
  position: fixed;
  font-family: Verdana;
  background: #ff8e8e;
  color: #FFF;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

span.addBtn:hover {
  background-color: #ff4c4c;
  color: #000;
}

span.settingsBtn {
  margin: 50px;
  font-family: Verdana;
  background: #ff8e8e;
  color: #FFF;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

span.settingsBtn:hover {
  background-color: #ff4c4c;
  color: #000;
}

span.faqBtn {
  margin: 50px;
  font-family: Verdana;
  background: #ff8e8e;
  color: #FFF;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

span.faqBtn:hover {
  background-color: #ff4c4c;
  color: #000;
}

span.modBtn {
  display: none;
  position: fixed;
  font-family: Verdana;
  background: #ff8e8e;
  color: #FFF;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

span.modBtn:hover {
  background-color: #ff4c4c;
  color: #000;
}

span.familyBtn {
  display:none;
  position: fixed;
  font-family: Verdana;
  background: #ff8e8e;
  color: #FFF;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

span.familyBtn:hover {
  background-color: #ff4c4c;
  color: #000;
}

img.newInvite {
  position: fixed;
  left: 10px;
  bottom: 10px;
  display: none;
  transition: 0.3s;
}

span.updateBtn {
  font-family: Verdana;
  background: #d9d9d9;
  color: #555;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

span.updateBtn:hover {
  background-color: #bbb;
}

img.imgIcon {
  display: block;
  padding: 0px;
  width: 300px;
  height: 300px;
  margin: -75px auto -175px auto;
}

div.topnav ul{
  font-family: Verdana;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #008222;
}

div.topnav ul li a {
  background-color: #008222;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  transition: 0.6s;
}

div.topnav ul li a:hover:not(.active) {
  background-color: #00d639;
  color: black;
}

div.topnav ul li a.active {
  background-color: #00ad05;
}

div.topnav ul li a.signOut {
  background-color: #ff3923;
}

div.topnav ul li a.signOut:hover:not(.active) {
  background-color: #f96554;
}

div.topnav ul li.right,
div.topnav ul li{
  float: left;
  padding-top: 0px;
  padding-bottom: 0px;
}

ul.giftList {
  margin: 0;
  padding: 0;
}

ul li.gift {
  cursor: pointer;
  position: relative;
  font-family: Verdana;
  list-style-type: none;
  background: #eee;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd).gift {
  background: #f9f9f9;
}

ul li:hover.gift {
  background: #ddd;
}

ul li.multiCheck {
  color: #429ef5;
  text-decoration: line-through;
}

ul li.multiCheck::before {
  content: '';
  position: absolute;
  border-color: #429ef5;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

ul li.checked {
  color: #f00;
  text-decoration: line-through;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #f00;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

ul li.highSev {
  color: #eb3434
}

ul li.mediumSev {
  color: #ebcc34
}

ul li.lowSev {
  color: #00d118;
}

ul li.santa {
  color: #00d118;
}

ul li.santa::before {
  content: '';
  position: absolute;
  border-color: #00d118;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  font-family: Verdana;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding-bottom: 50px;
  background-color: #5cb85c;
  color: white;
}

@media screen and (min-width: 0px) and (max-width: 400px) {
  span.boughtBtn {
    left: 5px;
    bottom: 5px;
    padding: 5px;
    font-size: 13px;
  }

  span.addBtn {
    right: 5px;
    bottom: 5px;
    padding: 5px;
    font-size: 13px;
  }

  span.basicBtn {
    padding: 5px;
    font-size: 13px;
  }

  span.settingsBtn {
    padding: 5px;
    font-size: 13px;
  }

  span.modBtn {
    right: 5px;
    bottom: 5px;
    padding: 5px;
    font-size: 13px;
  }

  span.familyBtn {
    left: 5px;
    bottom: 5px;
    padding: 5px;
    font-size: 13px;
  }

  span.updateBtn {
    padding: 5px;
    font-size: 13px;
  }

  p {
    font-size: 14px;
  }

  input.giftInp {
    width: 200px;
    font-size: 13px;
  }

  div.cropIcon {
    overflow: hidden;
    max-width: 600px;
  }

  img.notificationIcon {
    width: 20px;
    height: 20px;
  }

  img.newInvite {
    width: 30px;
    height: 30px;
  }

  div.topnav ul li.right,
  div.topnav ul li {
    float: none;
    padding: 0;
  }

  div.topnav ul li a {
    font-size: 13px;
    padding: 5px;
  }

  .modal-header {
    font-size: 11px;
  }

  .modal-body {
    font-size: 13px;
  }

  .modal-footer {
    font-size: 13px;
  }

  ul li.gift {
    padding: 10px 6px 10px 30px;
    font-size: 13px;
  }
}

@media screen and (min-width: 400px) and (max-width: 750px) {
  span.basicBtn {
    padding: 7px;
    font-size: 15px;
  }

  span.settingsBtn {
    padding: 7px;
    font-size: 15px;
  }

  span.modBtn {
    right: 7px;
    bottom: 7px;
    padding: 7px;
    font-size: 15px;
  }

  span.familyBtn {
    left: 7px;
    bottom: 7px;
    padding: 7px;
    font-size: 15px;
  }

  span.boughtBtn {
    left: 7px;
    bottom: 7px;
    padding: 7px;
    font-size: 15px;
  }

  span.addBtn {
    right: 7px;
    bottom: 7px;
    padding: 7px;
    font-size: 15px;
  }

  span.updateBtn {
    padding: 7px;
    font-size: 15px;
  }

  input.giftInp {
    width: 300px;
    font-size: 15px;
  }

  p {
    font-size: 15px;
  }

  img.notificationIcon {
    width: 30px;
    height: 30px;
  }

  img.newInvite {
    width: 40px;
    height: 40px;
  }

  .break{
    clear: both;
  }

  .modal-header {
    font-size: 12px;
  }

  .modal-body {
    font-size: 10px;
  }

  .modal-footer {
    font-size: 13px;
  }

  div.topnav ul li.right,
  div.topnav ul li {
    font-size: 10px;
    padding: 0px;
  }

  div.topnav ul li a {
    font-size: 14px;
    padding: 14px 16px;
  }

  ul li.gift {
    padding: 10px 6px 10px 30px;
    font-size: 15px;
  }
}

@media screen and (min-width: 750px) and (max-width: 1500px) {
  span.basicBtn {
    padding: 9px;
    font-size: 17px;
  }

  span.settingsBtn {
    padding: 9px;
    font-size: 17px;
  }

  span.modBtn {
    right: 9px;
    bottom: 9px;
    padding: 9px;
    font-size: 17px;
  }

  span.familyBtn {
    left: 9px;
    bottom: 9px;
    padding: 9px;
    font-size: 17px;
  }

  span.boughtBtn {
    left: 9px;
    bottom: 9px;
    padding: 9px;
    font-size: 17px;
  }

  span.addBtn {
    right: 9px;
    bottom: 9px;
    padding: 9px;
    font-size: 17px;
  }

  span.updateBtn {
    padding: 9px;
    font-size: 17px;
  }

  input.giftInp {
    width: 550px;
    font-size: 17px;
  }

  p {
    font-size: 17px;
  }

  img.notificationIcon {
    width: 40px;
    height: 40px;
  }

  img.newInvite {
    width: 50px;
    height: 50px;
  }

  .modal-header {
    font-size: 14px;
  }

  .modal-body {
    font-size: 12px;
  }

  .modal-footer {
    font-size: 15px;
  }

  div.topnav ul li.right,
  div.topnav ul li {
    font-size: 12px;
    padding: 0px;
  }

  div.topnav ul li a {
    font-size: 16px;
    padding: 15.5px 16px;
  }

  ul li.gift {
    padding: 12px 8px 12px 40px;
    font-size: 17px;
  }
}

@media screen and (min-width: 1500px) and (max-width: 2000px) {
  span.basicBtn {
    padding: 11px;
    font-size: 21px;
  }

  span.settingsBtn {
    padding: 11px;
    font-size: 21px;
  }

  span.modBtn {
    right: 11px;
    bottom: 11px;
    padding: 11px;
    font-size: 21px;
  }

  span.familyBtn {
    left: 11px;
    bottom: 11px;
    padding: 11px;
    font-size: 21px;
  }

  span.boughtBtn {
    left: 11px;
    bottom: 11px;
    padding: 11px;
    font-size: 21px;
  }

  span.addBtn {
    right: 11px;
    bottom: 11px;
    padding: 11px;
    font-size: 21px;
  }

  span.updateBtn {
    padding: 11px;
    font-size: 21px;
  }

  input.giftInp {
    width: 700px;
    font-size: 21px;
  }

  p {
    font-size: 21px;
  }

  img.imgIcon {
    display: block;
    padding: 0px;
    width: 305px;
    height: 305px;
    margin: -75px auto -175px auto;
  }

  img.notificationIcon {
    width: 50px;
    height: 50px;
  }

  img.newInvite {
    width: 65px;
    height: 65px;
  }

  .modal-header {
    font-size: 18px;
  }

  .modal-body {
    font-size: 16px;
  }

  .modal-footer {
    font-size: 19px;
    padding-bottom: 60px;
  }

  div.topnav ul li.right,
  div.topnav ul li {
    font-size: 18px;
    padding: 0px;
  }

  div.topnav ul li a {
    font-size: 20px;
    padding: 15.5px 16px;
  }

  ul li.gift {
    padding: 12px 8px 12px 40px;
    font-size: 22px;
  }
}

@media screen and (min-width: 2000px) and (max-width: 2700px) {
  span.basicBtn {
    padding: 13px;
    font-size: 23px;
  }

  span.settingsBtn {
    padding: 13px;
    font-size: 23px;
  }

  span.modBtn {
    right: 13px;
    bottom: 13px;
    padding: 13px;
    font-size: 23px;
  }

  span.familyBtn {
    left: 13px;
    bottom: 13px;
    padding: 13px;
    font-size: 23px;
  }

  span.boughtBtn {
    left: 13px;
    bottom: 13px;
    padding: 13px;
    font-size: 23px;
  }

  span.addBtn {
    right: 13px;
    bottom: 13px;
    padding: 13px;
    font-size: 23px;
  }

  span.updateBtn {
    padding: 13px;
    font-size: 23px;
  }

  input.giftInp {
    width: 1200px;
    font-size: 23px;
  }

  p {
    font-size: 23px;
  }

  img.imgIcon {
    display: block;
    padding: 0px;
    width: 311px;
    height: 311px;
    margin: -75px auto -175px auto;
  }

  img.notificationIcon {
    width: 55px;
    height: 55px;
  }

  img.newInvite {
    width: 75px;
    height: 75px;
  }

  .modal-header {
    font-size: 20px;
  }

  .modal-body {
    font-size: 18px;
  }

  .modal-footer {
    font-size: 21px;
    padding-bottom: 70px;
  }

  div.topnav ul li.right,
  div.topnav ul li {
    font-size: 20px;
    padding: 0px;
  }

  div.topnav ul li a {
    font-size: 22px;
    padding: 15.5px 16px;
  }

  ul li.gift {
    padding: 12px 8px 12px 40px;
    font-size: 24px;
  }
}

@media screen and (min-width: 2700px) {
  span.basicBtn {
    padding: 13px;
    font-size: 26px;
  }

  span.settingsBtn {
    padding: 13px;
    font-size: 26px;
  }

  span.modBtn {
    right: 13px;
    bottom: 13px;
    padding: 13px;
    font-size: 26px;
  }

  span.familyBtn {
    left: 13px;
    bottom: 13px;
    padding: 13px;
    font-size: 26px;
  }

  span.boughtBtn {
    left: 13px;
    bottom: 13px;
    padding: 13px;
    font-size: 26px;
  }

  span.addBtn {
    right: 13px;
    bottom: 13px;
    padding: 13px;
    font-size: 26px;
  }

  span.updateBtn {
    padding: 13px;
    font-size: 26px;
  }

  input.giftInp {
    width: 1200px;
    font-size: 26px;
  }

  p {
    font-size: 26px;
  }

  img.imgIcon {
    display: block;
    padding: 0px;
    width: 311px;
    height: 311px;
    margin: -75px auto -175px auto;
  }

  img.notificationIcon {
    width: 60px;
    height: 60px;
  }

  img.newInvite {
    width: 80px;
    height: 80px;
  }

  .modal-header {
    font-size: 23px;
  }

  .modal-body {
    font-size: 21px;
  }

  .modal-footer {
    font-size: 24px;
    padding-bottom: 80px;
  }

  div.topnav ul li.right,
  div.topnav ul li {
    font-size: 23px;
    padding: 0px;
  }

  div.topnav ul li a {
    font-size: 25px;
    padding: 15.5px 16px;
  }

  ul li.gift {
    padding: 12px 8px 12px 40px;
    font-size: 27px;
  }
}

@media screen and (max-height: 600px) {
  .modal {
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    max-height: 75%;
  }
}
